<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Notifications
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    Something changed in the notifications array
    <ion-list>
      @for (notification of notifications; track $index) {
        <ion-item>
          <ion-label>
            <h2>Package: {{ notification.package }}</h2>
            <p>App Title: {{ notification.apptitle }}</p>
            <p>Text: {{ notification.text }}</p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  </ion-content>
</ion-app>
