<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span>{{'Cho phép ngủ: ' +(isAllowSleep$ | async) ? 'Cho phép' : 'Từ chối'}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (notificationPackage$ | async; as notificationPackage) {
    <ion-list>
      <ion-list-header>
        @if (notificationPackage) {
          <ion-label>Danh sách thông báo của {{ notificationPackage }}</ion-label>
        }@else{
          <ion-label>Danh sách tất cả các thông báo</ion-label>
        }
      </ion-list-header>
      @for (notification of notifications; track $index) {
      <ion-item>
        <ion-label>
          <h2>Package: {{ notification.package }}</h2>
          <p>App Title: {{ notification.apptitle }}</p>
          <p>Text: {{ notification.text }}</p>
        </ion-label>
      </ion-item>
      }
    </ion-list>
  }
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dịch vụ Forceground</ion-card-title>
      <ion-card-subtitle>
        @if (forcegroundServiceStatus$ | async; as forcegroundServiceStatus) {
          Dịch vụ Forceground đang chạy
        }@else {
          Dịch vụ Forceground không chạy
        }
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      @if (forcegroundServiceStatus$ | async; as forcegroundServiceStatus) {
        <ion-button (click)="stopForcegroundService()">Dừng chạy ForceBackground Service</ion-button>
      }@else {
        <ion-button (click)="startForcegroundService()">Bắt đầu chạy ForceBackground Service</ion-button>
      }
    </ion-card-content>
  </ion-card>
</ion-content>